pipeline/Pl_Ingest_raw_to_sqlserver.json
{
	"name": "Pl_Ingest_raw_to_sqlserver",
	"properties": {
		"activities": [
			{
				"name": "Get ConfigFile",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "generic_adls2_delimiter_ds",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@pipeline().parameters.container_name",
								"type": "Expression"
							},
							"file_path": {
								"value": "@pipeline().parameters.file_path",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "check_file_Lookup_presence",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get ConfigFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get ConfigFile').output.exists,'true')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Lookup",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "generic_adls2_delimiter_ds",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@pipeline().parameters.container_name",
											"type": "Expression"
										},
										"file_path": {
											"value": "@pipeline().parameters.file_path",
											"type": "Expression"
										},
										"file_name": {
											"value": "@activity('Get ConfigFile').output.itemName",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"container_name": {
				"type": "String"
			},
			"file_path": {
				"type": "String"
			},
			"file_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}